.App {
  text-align: center;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

select,
input[type="date"] {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
}

select#newCurrency {
  margin-bottom: 20px;
}

option {
  padding: 5px;
}
.rootClass {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rootHeader {
  display: flex;
  gap: 50px;
}
